body {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section {
	margin:0 18%;
	background-image: url(img/background.jpg);
}

header {
	
	position: relative;
	
}

footer {
	clear: both;
	margin-top: 150px;
	margin-bottom: 31px;
}

p {
	text-align: center;
	color: #e6e6e6;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	margin: 3px 0;
}

.logo {
	margin-top: 57px;
	width: 263px;
	height: 147px;
	position: relative;
}

.trevel{
	left: 50px;
    position: absolute;
    bottom: 12px;
    color: #e6e6e6;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
}

.info {
	position: absolute;
	right: 40px;
	top: 98px;
}

.contact {
	color: #e6e6e6;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 7px;
}

.product1 {
	
}

 .country-foto {
 	border: 4px double #5D5A5A;
 	width: 261px;
 	height: 178px;
 }

 .country {
	margin-right: 10px;
	float: left;

 }

 /*.nameCountry {
 	color: #e6e6e6;
	font-family: Tahoma;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
 }*/

.product2 {
	float: left;
	flex-direction: row;
	margin-top: 50px;
}

.Copyright {

	text-align: center;
	color: #e6e6e6;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 400;
}